@using MvcSegundoExemplo.Models;
@model List<Aluno>
@{
    ViewBag.Title = "ListarAlunos";
}

<h2>ListarAlunos</h2>

<table>
    <tr>
        <th>Nome</th>
        <th>Idade</th>
        <th>Cidade</th>
    </tr>
@foreach (var result in Model)
{
    <tr>
        <td>@result.Nome</td>
        <td>@result.Idade</td>
        <td>@result.Cidade</td>
    </tr>
}
</table>
    

